In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/Jatim-Park-1-500-Labeled.csv')

In [3]:
df

,annotation_id,annotator,created_at,id,lead_time,rating,review,sentiment,updated_at,user
0,6,1,2025-11-07T13:13:41.663999Z,1,19.562,5,Tempat wisata di batu bisa buat keluarga atau ...,Neutral,2025-11-07T13:13:41.663999Z,Cristanto
1,503,1,2025-11-09T11:38:38.849114Z,2,14.749,4,Masih lumayan buat anak2 wisata...edukasi dan ...,Positive,2025-11-09T11:38:38.849114Z,Erma Latifah
2,504,1,2025-11-09T11:38:50.890259Z,3,10.339,5,"Adalah sebuah tempat untuk edukasi, rekreasi, ...",Positive,2025-11-09T11:38:50.890259Z,Nailil Farikhah
3,505,1,2025-11-09T11:39:17.541252Z,4,17.949,3,Bagus utk wisata utk edukasi dan taman bermain...,Positive,2025-11-09T11:39:17.541252Z,Theresia Lonika
4,7,1,2025-11-07T13:13:52.121104Z,5,10.015,4,Tiket masuk dibandingkan dengan banyaknya waha...,Neutral,2025-11-07T13:13:52.121104Z,zainal arif
...,...,...,...,...,...,...,...,...,...,...
495,496,1,2025-11-08T13:21:26.526122Z,496,2.213,1,Manajemen nya tidak ketat dalam penerapan prok...,Negative,2025-11-08T13:21:26.526122Z,Agung Setiono
496,497,1,2025-11-08T13:21:31.902866Z,497,4.880,5,"Banyak mainannya luas sayang kmrn hujan, menga...",Neutral,2025-11-08T13:21:31.902866Z,wiwin harijani
497,498,1,2025-11-08T13:21:36.089968Z,498,3.680,5,Tempat rekreasi seruu.. tiap tahun ada aja yg ...,Positive,2025-11-08T13:21:36.089968Z,Harni Wulandari
498,499,1,2025-11-08T13:21:38.791192Z,499,2.257,5,Tempat wisata + rekreasi yang menyenangkan coc...,Positive,2025-11-08T13:21:38.791192Z,Lufena Fitra Krisma
499,500,1,2025-11-08T13:21:43.871183Z,500,4.505,4,Tempat wisata di kota batu malang yang sangat ...,Positive,2025-11-08T13:21:43.871183Z,Ilfa Rosidah

In [4]:
df.isnull().sum()

annotation_id    0
annotator        0
created_at       0
id               0
lead_time        0
rating           0
review           0
sentiment        0
updated_at       0
user             0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df_final = df[['user', 'review', 'rating', 'sentiment']]

In [7]:
df_final

,user,review,rating,sentiment
0,Cristanto,Tempat wisata di batu bisa buat keluarga atau ...,5,Neutral
1,Erma Latifah,Masih lumayan buat anak2 wisata...edukasi dan ...,4,Positive
2,Nailil Farikhah,"Adalah sebuah tempat untuk edukasi, rekreasi, ...",5,Positive
3,Theresia Lonika,Bagus utk wisata utk edukasi dan taman bermain...,3,Positive
4,zainal arif,Tiket masuk dibandingkan dengan banyaknya waha...,4,Neutral
...,...,...,...,...
495,Agung Setiono,Manajemen nya tidak ketat dalam penerapan prok...,1,Negative
496,wiwin harijani,"Banyak mainannya luas sayang kmrn hujan, menga...",5,Neutral
497,Harni Wulandari,Tempat rekreasi seruu.. tiap tahun ada aja yg ...,5,Positive
498,Lufena Fitra Krisma,Tempat wisata + rekreasi yang menyenangkan coc...,5,Positive
499,Ilfa Rosidah,Tempat wisata di kota batu malang yang sangat ...,4,Positive

In [8]:
df_final.to_csv('../data/Jatim-park-1-500-Labeled-clean.csv', index=False)