In [14]:
import pandas as pd

# misal df udah ada dan kolom rating = 'Rating'
df = pd.read_csv('../data/Jatim-Park-1-1000.csv')

# ambil semua data rating 1-4
low_ratings = df[df['rating'] < 5]

# hitung berapa banyak data rating 1-4
count_low = len(low_ratings)

# hitung sisa slot untuk mencapai total 500
remaining = 500 - count_low

# ambil data rating 5 secukupnya
high_ratings = df[df['rating'] == 5].sample(n=remaining, random_state=42)

# gabungkan semuanya
final_df = pd.concat([low_ratings, high_ratings])

# kocok biar random
final_df = final_df.sample(frac=1, random_state=42).reset_index(drop=True)

print(final_df['rating'].value_counts())
print(f"Total data: {len(final_df)}")

rating
5    247
4    173
3     38
1     32
2     10
Name: count, dtype: int64
Total data: 500

In [15]:
final_df

,user,review,rating
0,Cristanto,Tempat wisata di batu bisa buat keluarga atau ...,5
1,Erma Latifah,Masih lumayan buat anak2 wisata...edukasi dan ...,4
2,Nailil Farikhah,"Adalah sebuah tempat untuk edukasi, rekreasi, ...",5
3,Theresia Lonika,Bagus utk wisata utk edukasi dan taman bermain...,3
4,zainal arif,Tiket masuk dibandingkan dengan banyaknya waha...,4
...,...,...,...
495,Agung Setiono,Manajemen nya tidak ketat dalam penerapan prok...,1
496,wiwin harijani,"Banyak mainannya luas sayang kmrn hujan, menga...",5
497,Harni Wulandari,Tempat rekreasi seruu.. tiap tahun ada aja yg ...,5
498,Lufena Fitra Krisma,Tempat wisata + rekreasi yang menyenangkan coc...,5
499,Ilfa Rosidah,Tempat wisata di kota batu malang yang sangat ...,4

In [16]:
final_df.to_csv('../data/Jatim-Park-1-500-Balanced.csv', index=False)
print("✅ File berhasil disimpan sebagai balanced_rating_data.csv")

✅ File berhasil disimpan sebagai balanced_rating_data.csv